body, html {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #FFFFFF;
  background-color: rgba(0, 71, 119);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150%;
  width: 20%;
  /* padding-right: 5%; */
  background-color: rgba(0, 175, 181, .6);
}

.aside-header {
  font-size: 3em;
  width: 90%;
}

.aside-section-1, .aside-section-2, .aside-section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25%;
  padding-left: 7%;
}

.aside-section-3 {
  justify-content: flex-start;
}

main {
  height: 130%;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 0% 0% 0% 5%;
}

.trips-container {
  height: 40%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;
  padding: 0% 0% 5% 0%;
}

button {
  width: 50%;
  height: 20%;
  border: none;
  border-radius: 15px;
  background-color: rgba(163, 0, 0);
  color: #FFFFFF;
  box-shadow: 5px 5px 20px rgb(115 0 0);
}

button:hover {
  background-color: rgb(105, 0, 0);
  transition: .1s;
}

h1, h2, h3 {
  margin: 0;
}

.main-header {
  padding: 5% 0% 5% 0%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.trips-total-spent {
  font-size: 1.5em;
}

caption {
  padding-top: 2%;
}

.hidden {
  display: none;
}

.book-trip-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  justify-content: space-evenly;
}

.form-button {
  height: 10%;
  
}

img {
  box-shadow: 10px 20px 15px rgb(0, 41, 68);;
  border: none;
}

.error-message {
  background-color: rgb(163, 0, 0);
    text-align: center;
    font-size: 1.3em;
    height: 10%;
    width: 101%;
    border-radius: 10px;
    padding: 7% 0% 0% 0%;
}

input, select {
  height: 5%;
}

.trip-date, .trip-duration, .num-travelers {
  margin: 0;
}

.trip-duration {
  bottom: 47%;
}

.num-travelers {
  bottom: 44%;
}

.trip-info-container {
  margin: 0;
  position: relative;
  bottom: 73%;
  background-color:rgba(0, 71, 119, .7);
  width: 75%;
  text-align: center;
}

.login-form {
  background-color: rgba(0, 175, 181, .3);
  position: relative;
  bottom: 0%;
  left: 35%;
  top: 25%;
  height: 25%;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-around;
  padding: 5%;
  border-radius: 10%;
}

.user-name-label {
  position: relative;
  top: -4%
}

.password-label {
  position: relative;
  top: -4%
}

.login-button {
  width: 100%;
  height: 15%;
}